:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
}

body{
    font-size: 15px;
    font-family: 'Overpass',
    sans-serif;
    background-color: var(--veryDarkBlue);
    color: var(--lightGrey);
}

