:root{
    --orange: #f37615;
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: #262f36;
    --darkBlue: #1f2530;
    --veryDarkBlue: hsl(216, 12%, 8%);
}

body{
    font-size: 15px;
    font-family: 'Overpass',
    sans-serif;
    background-color: var(--veryDarkBlue);
    color: var(--lightGrey);
}

.star-icon{
    background-color: var(--mediumGrey);
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 25px;
}
.card{
    background-color: var(--darkBlue);
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
.title{
    color: var(--white);
    font-weight: 500;
}
.text{
    margin-bottom: 20px;
}
.ratings{
    margin-bottom: 40px;
}
.rate-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    background-color: var(--mediumGrey);
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 100%;
    border: none;
    color: var(--lightGrey);
}
.submit-btn{
    border-radius: 30px;
    border: none;
    background-color: var(--orange);
    color: white;
    text-transform: uppercase;
    padding: 10px 0;
}
